
    <div class="mon_elemnt">
        <div class="content-partie">
            <div class="mon_text">
                <h3 class="text">Fibre Naturelle</h3>
            </div>
            <span class="style_span">01</span>
        </div>
        <div class="content-partie">
            <div class="mon_text">
                <h3 class="text">Couleur intense</h3>
            </div>
            <span class="style_span">02</span>
        </div>
        <div class="content-partie">
            <div class="mon_text">
                <h3 class="text">Edition limité</h3>
            </div>
            <span class="style_span">03</span>
        </div>
    </div>
