<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="mon_product">
        <img src="assets/img/image_product1.png" alt="" style="width: 93%;">
        <h5 class="titre" style="text-align:center;margin-top:10px;"> robe gigi</h5>

    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="mon_product">
        <img src="assets/img/image_product2.png" alt=""  style="width: 90%;">
        <h5 class="titre"  style="text-align:center;margin-top:10px;"> robe MAy</h5>
    </div>
</ng-template>  
  <ng-template carouselSlide>
    <div class="mon_product">
        <img src="assets/img/image_product3.png" alt="" style="width: 90%;">
        <h5 class="titre"  style="text-align:center;margin-top:10px;"> robe pas a vendre</h5>
    </div>
</ng-template> 
<ng-template carouselSlide>
    <div class="mon_product">
        <img src="assets/img/image_product4.png" alt="">
        <h5 class="titre"  style="text-align:center;margin-top:10px;"> robe Exemple </h5>
    </div>
</ng-template>
<ng-template carouselSlide>
    <div class="mon_product">
        <img src="assets/img/image_product5.png" alt="">
        <h5 class="titre"  style="text-align:center;margin-top:10px;"> robe moderne</h5>
    </div>
</ng-template> 
</owl-carousel-o>
